/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.row{
    width: 100%;
    display: flex;
}

.container-fluid{
    margin: 0 10px;
    width: calc(100% - 20px);
}


/*HEADER*/
header{
    background-color:red;
    height: 75px;
    padding: 10px;
}

ul#menu li{
    display: inline;
}

ul#supporto-e-accesso li{
    display: inline;
    text-align: right;
}

/*MAIN*/

/*FOOTER*/
footer{
    background-color: black;
}

/*COLUMNS*/
.col-25{
    width: 25%;
    background-color: aquamarine;
}

.col-50{
    width: 50%;
    background-color: rgb(129, 127, 255);
}

.height-50{
    height: 50px;
}

/*STRUCTURE*/
.bg-green{
    background-color: green;
}

.bg-purple{
    background-color: rgb(129, 127, 255);
}

.bg-red{
    background-color: rgb(255, 127, 138);
}

