/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-fluid{
    margin: 0 10px;
    width: calc(100% - 20px);
}

.container{
    max-width: 100%;
}


/*HEADER*/
header{
    height: 75px;
    padding: 10px;
}

ul#menu li{
    display: inline;
}

ul#supporto-e-accesso li{
    display: inline;
    justify-content: space-between;
}

.header-logo{
    max-width: 100px;
    max-height: 60px;
    padding-top: 20px;
}

button{
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    padding: 10px 25px;
    min-width: 25px;
    min-height: 10px;
}

.header-button:hover{
    background-color: black;
    transition: 0.2s;
}

/*MAIN*/
.top-padding{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
}

.bottom-padding{
    padding-bottom: 30px;
    background-color: white;
}

.picture-propostaperilcliente{
    max-width: 700px;
    max-height: 500px;
}

.picture-partner{
    max-width: 600px;
    max-height: 400px;
}

.picture-of-the-table{
    max-width: 300px;
    max-height: 300px;
}

/*FOOTER*/
footer{
    background-color: black;
}

/*COLUMNS*/
.col-30{
    width: 30%;
}

.col-33{
    width: calc(100%/3);
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

.col-100{
    width: 100%;
}

.height-50{
    height: 50px;
}   

.height-70{
    height: 70px;
}   

.height-200{
    height: 200px;
}   

.height-300{
    height: 300px;
}  

.height-450{
    height: 450px;
}

/*STRUCTURE*/
.bg-green{
    background-color: green;
}

.bg-purple{
    background-color: rgb(129, 127, 255);
}

.bg-red{
    background-color: rgb(255, 127, 138);
}

